{% extends 'core/base.html' %}
{% load static %}
<!-- Content Wrapper -->
{% block content %}
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        {% include 'core/topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Editar categoria</h1>
            </div>

            <!-- Content Row -->
            <div class="row">

                <div class="col-lg-12">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Dados
                                da categoria</h6>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'editar_categoria' categoria.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {#                                    <input type="text"#}
                                    {#                                           class="form-control form-control-user"#}
                                    {#                                           id="descricaoCategoria"#}
                                    {#                                           name="descricao"#}
                                    {#                                           placeholder="Descrição da categoria">#}
                                    {{ form.descricao }}
                                </div>
                                <input type="submit" value="Salvar"
                                       class="btn btn-primary btn-user btn-block">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>

    {% include 'core/footer.html' %}
{% endblock %}
<!-- End of Content Wrapper -->